.form
  .input-form
    = form_for [@group, @message] do |f|
      = f.text_field :body, class: 'input-form__text', placeholder: "type a message"
      .text-box
        = f.label :image, class: 'text-box__image' do
          %i.fa.fa-image
            = f.file_field :image, class: 'file-send'
      = f.submit 'Send', class: 'input-form__send-btn'
